* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #b2bbce;
    width: 1024px;
    margin: auto;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #1995AD;
    border-radius: 5px;
}

ol {
    display: block;
    text-align: left;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
}

pre {
    text-align: left;
    background-color: #000;
    color: white;
    margin-top: 10px;
}

main h1, h3 {
    background-color: black;
    color: white;
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px 20px;
}


p {
    font-size: 0.85rem;
}
.video {
    margin-left: 90px;
}
.solucion {
    width: 90px;
    height: 25px;
    background-color: #A1D6E2;
    border-radius: 3px;
    color: white;
}

.regresar {
    width: 100px;
    height: 35px;
    background-color: #A1D6E2;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.nav {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 40px;
    margin: auto;
    font-size: smaller;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li a {
    text-decoration: none;
    color: white;
    padding: 2px;
    display: block;
    border-radius: 2px;
    background-color: #1995AD;
    padding: 5px 10px;
}

.nav li a:active {
    color: black;
}

.nav li a:hover {
    background: #808080;
}

.nav li {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.titulo {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 10px;
}

.titulo p {
    margin-top: 3px;
}

.articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; 
}

.frutas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; 
}


.articulos p {
    margin-top: 5px;
}

.codigo {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.mostrar1 {
    display: none;
    overflow: hidden;
    margin-top: 10px;
    width: 90%;
}

.mostrar2 {
    display: none;
    overflow: hidden;
    margin-top: 10px;
}

.acordeonExt {
    background-color: #1995AD;
    color: white;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    border: #A1D6E2;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.acordeonInt {
    background-color: #1995AD;
    color: white;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    border: #A1D6E2;
}

.seccion1 {
    border-radius: 5px;
    width: 100%;
}

#tema2 h5,
h4 {
    margin-top: 10px;
}

.articulos1 {
    margin-bottom: 10px;
}

#subtitulo{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;  
    padding-top: 7px;  
    font-size: 1rem; 
}


