.estilo{
    background-color: #b2bbce;
    max-width: 600px;
    margin: 0 auto;
    height: 280px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e3f1f1;
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 600px;
}

main {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    max-height: 750px;

}

p {
    font-size: smaller;
}

footer {
    align-items: center;
    text-align: center;
}

.nav {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    height: 40px;
    /* max-width: 800px; */
    margin: auto;
    font-size: smaller;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

#content {
    column-count:2;
    background: white;
    border-radius: 10px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}

.nav li a {
    text-decoration: none;
    color: white;
    padding: 2px;
    display: block;
}

.nav li {
    display: inline-block;
    text-align: center;
}

.nav li a:hover {
    background: #ef8354;
}

.skills {
    list-style-type: none;
    font-size: smaller; 
    padding-left: 0px;
}

.task {
    list-style-type: none;
    padding: 0;
    font-size: smaller;
}

#par1 {
    margin-left: 10px;
    margin-right: 10px;
    text-align:justify;
}

#foto {
    text-align: center;
    width: 150px;
    height: 200px;
    border: 10px solid rgb(30, 30, 159);
    border-radius: 22px;
    background-color: #10082b;
    padding: 9px;
    box-shadow: 0px 0px 30px rgb(123, 226, 230);
}