* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #b2bbce;
    width: 900px;
    max-width: 90%;
    margin: auto;
    height: 600px;
    max-width: 90%;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
    max-height: 95%;
    justify-content: center;
    margin-top: 3px;
    border: 1px solid #1995AD;
    border-radius: 5px;
}

footer a {
    display: flex;
    justify-content: space-around;
    
}

p {
    font-size: smaller;
    color: #092327;
    font-family: 'Times New Roman';
}

.nav {
    list-style: none;
    padding: 0;
    background: #1995AD;
    width: 100%;
    height: 40px;
    margin: auto;
    font-size: smaller;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li a {
    text-decoration: none;
    color: white;
    padding: 2px;
    display: block;
    border: 1px solid #dfe6e0;
    border-radius: 2px;
}

.nav li a:active {
    color: black;
}

.nav li a:hover {
    background:#808080;
}

.nav li {
    display: inline-block;
    text-align: center;
}

.foto {
    border: 10px #20cf43;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 4px;
    float: left;
    background-color: #d2cce1;
    margin: 10px 0 0 5px
}

.foto img {
    border-radius: 5px;
    display:block;
    position:relative;
    background-color:#fff;
    margin:-6px 6px 6px -6px
  }

.informacion {
    /* background-color: #b2bbce; */
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;
}

.informacion p {
    margin-top: 3px;
}

.datos p {
    margin-top: 5px;
    text-align: justify;
}

.datos p {
    text-align: justify;
}

.habilidades {
    margin-top: 10px;
}

.habilidades p {
    margin-top: 5px;
}

.habilidades ul {
    margin-top: 5px;
    padding: auto;
    list-style-type: none;
    font-size: smaller;
    padding-left: 0px;
    font-family: 'Times New Roman';
}

.mostrar {
    display: none;
    overflow: hidden;
}

.acordeon {
    background-color: #1995AD;
    color: white;
    width: 150px;
    height: 25px;
    border-radius: 3px;
    border: #A1D6E2;
    font-family: 'Times New Roman';
}



#tema2 {
    background-color: #A1D6E2;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 80%;
}

#tema2 h5, h4{
    margin-top: 10px;
}



#fondo {
    background-color: #1995AD;
    color: azure;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    margin-top: 2px;
    margin-left: 5%;
}

/* .perfil {
    background-color: #b2bbce; 
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
} */


/* #content {
    column-count:2;
    background: white;
    border-radius: 10px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}

#parrafo1 {
    margin-left: 10px;
    margin-right: 10px;
    text-align:justify;
} */




/* .nuevoEstilo1 {
    background-color: rgb(30, 26, 26);
    color: white;
}

.nuevoEstilo1 .principal {
    background-color:black;
    box-shadow: 4px 6px 8px rgb(253, 253, 253);
    font-weight: 600;
    text-shadow: 1px 1px 8px rgb(255, 255, 255);
    color: white;
}

.nuevoEstilo2 .principal {
    background-color:rgb(222, 25, 25);
    box-shadow: 4px 6px 8px rgb(253, 253, 253);
    font-weight: 600;
    text-shadow: 1px 1px 8px rgb(255, 255, 255);
    color: white;
} */