body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ded5d5;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 600px;
}

main {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p {
    font-size: smaller;
}

footer {
    align-items: center;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    height: 40px;
    /* max-width: 800px; */
    margin: auto;
    font-size: smaller;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 2px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #ef8354;
}

.skills {
    list-style-type: none;
    padding: 0;
}

.task {
    list-style-type: none;
    padding: 0;
    font-size: smaller;
}

#foto {
    text-align: center;
    width: 200px;
    height: 250px;
    border: 10px solid rgb(30, 30, 159);
    border-radius: 22px;
    background-color: #10082b;
    padding: 9px;
    box-shadow: 0px 0px 30px rgb(123, 226, 230);
}